USE [master]
GO
/****** Object:  Database [ATHANASIA]    Script Date: 15/03/2024 1:36:00 ******/
CREATE DATABASE [ATHANASIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATHANASIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATHANASIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATHANASIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATHANASIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATHANASIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATHANASIA]
GO
/****** Object:  UserDefinedFunction [dbo].[LIMPIAR]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[LIMPIAR] (@str nvarchar(MAX))
returns nvarchar(MAX)
as
begin
    set @str = REPLACE(@str, 'á', 'a')
    set @str = REPLACE(@str, 'é', 'e')
    set @str = REPLACE(@str, 'í', 'i')
    set @str = REPLACE(@str, 'ó', 'o')
    set @str = REPLACE(@str, 'ú', 'u')
    set @str = REPLACE(@str, 'Á', 'A')
    set @str = REPLACE(@str, 'É', 'E')
    set @str = REPLACE(@str, 'Í', 'I')
    set @str = REPLACE(@str, 'Ó', 'O')
    set @str = REPLACE(@str, 'Ú', 'U')
    set @str = REPLACE(@str, '&', '')
    set @str = REPLACE(@str, '-', '')
    set @str = REPLACE(@str, '_', '')
    set @str = REPLACE(@str, '+', '')
    set @str = REPLACE(@str, '"', '')
    set @str = REPLACE(@str, '''', '')
    set @str = REPLACE(@str, ',', '')
    set @str = REPLACE(@str, '.', '')
    set @str = REPLACE(@str, '?', '')
    set @str = REPLACE(@str, '`', '')
	set @str = REPLACE(@str, '!', '')
    set @str = REPLACE(@str, '¡', '')
    set @str = REPLACE(@str, '¿', '')
    set @str = REPLACE(@str, 'ñ', 'n')
    set @str = REPLACE(@str, 'Ñ', 'N')
    set @str = REPLACE(@str, 'ü', 'u')
    set @str = REPLACE(@str, 'Ü', 'U')
	set @str = REPLACE(@str, ' ', '')
	set @str = UPPER(@str)
    return @str
end
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR](
	[ID_AUTOR] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](1000) NULL,
	[IMAGEN] [nvarchar](255) NULL,
 CONSTRAINT [PK_AUTOR] PRIMARY KEY CLUSTERED 
(
	[ID_AUTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_GENEROS] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[ID_GENERO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENEROS_LIBROS]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENEROS_LIBROS](
	[ID_GENERO_LIBRO] [int] NOT NULL,
	[ID_GENERO] [int] NULL,
	[ID_LIBRO] [int] NULL,
 CONSTRAINT [PK_CATEGORIAS_LIBROS] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAGA]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAGA](
	[ID_SAGA] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](1000) NULL,
 CONSTRAINT [PK_SAGA] PRIMARY KEY CLUSTERED 
(
	[ID_SAGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[ID_LIBRO] [int] NOT NULL,
	[TITULO] [nvarchar](255) NULL,
	[SINOPSIS] [nvarchar](2000) NULL,
	[FECHA_PUBLICACION] [date] NULL,
	[PORTADA] [nvarchar](255) NULL,
	[ID_AUTOR] [int] NULL,
	[ID_CATEGORIA] [int] NULL,
	[ID_SAGA] [int] NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[ID_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITORIAL]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITORIAL](
	[ID_EDITORIAL] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[LOGO] [nvarchar](255) NULL,
 CONSTRAINT [PK_EDITORIAL] PRIMARY KEY CLUSTERED 
(
	[ID_EDITORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMATO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMATO](
	[ID_FORMATO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_FORMATO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[ISBN] [nvarchar](50) NULL,
	[PRECIO] [float] NULL,
	[ID_FORMATO] [int] NULL,
	[ID_LIBRO] [int] NULL,
	[ID_EDITORIAL] [int] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_PRODUCTO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[V_PRODUCTO] as
select
	  ISNULL(p.ID_PRODUCTO, - 1) ID_PRODUCTO,
    l.TITULO,
    l.SINOPSIS,
    l.FECHA_PUBLICACION,
    l.PORTADA,
    c.NOMBRE CATEGORIA,
    a.NOMBRE AUTOR,
    STRING_AGG(g.NOMBRE, ', ') GENEROS,
    s.NOMBRE SAGA,
    p.ISBN,
    f.NOMBRE FORMATO,
    p.PRECIO,
    e.NOMBRE EDITORIAL,
    e.LOGO LOGO
from LIBRO l 
left join CATEGORIA c on l.ID_CATEGORIA = c.ID_CATEGORIA and l.TITULO is not null
left join AUTOR a on l.ID_AUTOR = a.ID_AUTOR and a.NOMBRE is not null
left join SAGA s on s.ID_SAGA = l.ID_SAGA 
left join GENEROS_LIBROS gl on gl.ID_LIBRO = l.ID_LIBRO 
left join GENERO g on g.ID_GENERO = gl.ID_GENERO 
inner join PRODUCTO p on l.ID_LIBRO = p.ID_LIBRO and p.ISBN is not null and p.PRECIO is not null
left join EDITORIAL e on e.ID_EDITORIAL = p.ID_EDITORIAL
inner join FORMATO f on f.ID_FORMATO=p.ID_FORMATO
group by p.ID_PRODUCTO, l.TITULO, c.NOMBRE, a.NOMBRE,
s.NOMBRE, l.SINOPSIS, l.FECHA_PUBLICACION, l.PORTADA,
p.ISBN, p.PRECIO, e.NOMBRE, e.LOGO, f.NOMBRE
GO
/****** Object:  View [dbo].[V_PRODUCTO_SIMPLE]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[V_PRODUCTO_SIMPLE] as
select
    ISNULL(p.ID_PRODUCTO, -1) ID_PRODUCTO,
    l.TITULO,
    l.PORTADA,
    a.NOMBRE AUTOR,
    p.PRECIO,
    p.ID_FORMATO,
	CAST(1 AS INT) UNIDADES
from Libro l
left join AUTOR a on l.ID_AUTOR=a.ID_AUTOR and l.TITULO is not null and a.NOMBRE is not null
inner join PRODUCTO p on l.ID_LIBRO=p.ID_LIBRO and p.PRECIO is not null
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_PEDIDO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PEDIDO](
	[ID_ESTADO_PEDIDO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_ESTADO_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFORMACION_COMPRA]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFORMACION_COMPRA](
	[ID_INFORMACION_COMPRA] [int] NOT NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[INDICACIONES] [nvarchar](50) NULL,
	[ID_METODO_PAGO] [int] NULL,
	[ID_USUARIO] [int] NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_INFORMACION_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_PAGO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_PAGO](
	[ID_METODO_PAGO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
 CONSTRAINT [PK_METODO_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_METODO_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPINION]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPINION](
	[ID_OPINION] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_OPINION] PRIMARY KEY CLUSTERED 
(
	[ID_OPINION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPINIONES_LIBROS]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPINIONES_LIBROS](
	[ID_OPINIONE_LIBRO] [int] NOT NULL,
	[ID_OPINION] [int] NULL,
	[ID_LIBRO] [int] NULL,
	[ID_USUARIO] [int] NULL,
 CONSTRAINT [PK_OPINIONES_LIBROS] PRIMARY KEY CLUSTERED 
(
	[ID_OPINIONE_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [int] NOT NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_SOLICITUD] [date] NULL,
	[FECHA_ESTIMADA] [date] NULL,
	[FECHA_ENTREGA] [date] NULL,
	[ID_ESTADO_PEDIDO] [int] NULL,
 CONSTRAINT [PK_LISTAS_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS_PRODUCTOS]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS_PRODUCTOS](
	[ID_PEDIDO_PRODUCTO] [int] NOT NULL,
	[UNIDADES] [int] NULL,
	[ID_PEDIDO] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
 CONSTRAINT [PK_PEDIDOS_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] NOT NULL,
	[NOMBRE] [nchar](255) NULL,
	[DESCRIPCION] [nchar](255) NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[APELLIDO] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[IMAGEN] [nvarchar](255) NULL,
	[PASS] [varbinary](4000) NULL,
	[SALT] [nvarchar](4000) NULL,
	[TOKEN] [nvarchar](4000) NULL,
	[ID_ROL] [int] NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VALORACION]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORACION](
	[ID_VALORACION] [int] NOT NULL,
	[PUNTUACION] [int] NULL,
	[COMENTARIO] [nvarchar](4000) NULL,
	[FECHA_COMENTARIO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
 CONSTRAINT [PK_VALORACION] PRIMARY KEY CLUSTERED 
(
	[ID_VALORACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VALORACIONES_PRODUCTOS]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORACIONES_PRODUCTOS](
	[ID_VALORACION_PRODUCTO] [int] NOT NULL,
	[ID_VALORACION] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
 CONSTRAINT [PK_VALORACIONES_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[ID_VALORACION_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AUTOR] ([ID_AUTOR], [NOMBRE], [DESCRIPCION], [IMAGEN]) VALUES (1, N'Brandon Sanderson', N'Prolífico autor de fantasía y ciencia ficción, famoso por sagas como Cosmere y Mistborn. Crea mundos mágicos complejos con sistemas de magia bien desarrollados. Sus historias son emocionantes, con personajes memorables y tramas llenas de acción.', N'brandon_sanderson.png')
INSERT [dbo].[AUTOR] ([ID_AUTOR], [NOMBRE], [DESCRIPCION], [IMAGEN]) VALUES (2, N'J.K. Rowling', N'Autora de la serie de Harry Potter, una de las más vendidas de la historia. Crea personajes entrañables y mundos mágicos llenos de aventuras. Sus obras exploran temas como la amistad, el valor y la lucha contra el mal.', N'jk_rowling.png')
INSERT [dbo].[AUTOR] ([ID_AUTOR], [NOMBRE], [DESCRIPCION], [IMAGEN]) VALUES (3, N'Stephen King', N'Maestro del terror, famoso por obras como "El resplandor" y "Carrie". Explora los miedos humanos con historias macabras y personajes perturbadores. Sus obras son a la vez aterradoras y reflexivas, con un toque de humor negro.', N'stephen_king.png')
GO
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Ficción', N'Narraciones inventadas, que no se basan en hechos reales.')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (2, N'No ficción', N'Narraciones que se basan en hechos reales, como biografías, libros de historia o documentales.')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Cómic', N'Historias ilustradas que se narran en viñetas, con o sin texto.')
GO
INSERT [dbo].[EDITORIAL] ([ID_EDITORIAL], [NOMBRE], [LOGO]) VALUES (1, N'Nova', N'nova.png')
INSERT [dbo].[EDITORIAL] ([ID_EDITORIAL], [NOMBRE], [LOGO]) VALUES (2, N'B de Bolsillo', N'b_bolsillo.png')
INSERT [dbo].[EDITORIAL] ([ID_EDITORIAL], [NOMBRE], [LOGO]) VALUES (3, N'Pottermore Publishing', N'pottermore_publishing.png')
GO
INSERT [dbo].[ESTADO] ([ID_ESTADO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Activo', N'Usuario activo')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Pendiente', N'Usuario pendiente de activación')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Eliminado', N'Usuario eliminado')
GO
INSERT [dbo].[ESTADO_PEDIDO] ([ID_ESTADO_PEDIDO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'En espera', N'El pedido ha sido recibido, pero aún no se ha procesado.')
INSERT [dbo].[ESTADO_PEDIDO] ([ID_ESTADO_PEDIDO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Procesando', N'El pedido está siendo preparado para su envío.')
INSERT [dbo].[ESTADO_PEDIDO] ([ID_ESTADO_PEDIDO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Enviado', N'El pedido ha sido enviado al cliente, pero aún no ha sido entregado.')
GO
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Tapa Dura', N'Libro con tapa rígida')
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Tapa Blanda', N'Libro con tapa blanda')
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Ebook', N'Libro digital')
GO
INSERT [dbo].[GENERO] ([ID_GENERO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Fantasía', N'Historias que se desarrollan en mundos ficticios, a menudo con elementos mágicos o sobrenaturales.')
INSERT [dbo].[GENERO] ([ID_GENERO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Acción', N'Historias que se centran en la emoción, el suspense y la aventura.')
INSERT [dbo].[GENERO] ([ID_GENERO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Aventura', N'Historias que siguen a los personajes en viajes emocionantes y llenos de peligros.')
GO
INSERT [dbo].[GENEROS_LIBROS] ([ID_GENERO_LIBRO], [ID_GENERO], [ID_LIBRO]) VALUES (1, 1, 2)
INSERT [dbo].[GENEROS_LIBROS] ([ID_GENERO_LIBRO], [ID_GENERO], [ID_LIBRO]) VALUES (2, 2, 2)
INSERT [dbo].[GENEROS_LIBROS] ([ID_GENERO_LIBRO], [ID_GENERO], [ID_LIBRO]) VALUES (3, 3, 2)
GO
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (1, N'Elantris', N'Bienvenidos a la ciudad de Elantris, la poderosa y bella capital de Arelon llamada «la ciudad de los dioses». Antaño famosa sede de inmortales, lugar repleto de poderosa magia, Elantris ha caído en desgracia. Ahora solo acoge a los nuevos «muertos en vida», postrados en una insufrible «no-vida» tras una misteriosa y terrible transformación.

Un matrimonio de Estado destinado a unir los reinos de Arelon y Teod se frustra, ya que el novio, Raoden, el príncipe de Arelon, sufre inesperadamente la Transformación, se convierte en un «muerto en vida» y debe refugiarse en Elantris. Su reciente esposa, la princesa Sarene de Teod, creyéndolo muerto, se ve obligada a incorporarse a la vida de Arelon y su nueva capital, Kae. Mientras, el embajador y alto sacerdote de otro reino vecino, Fjordell, usará su habilidad política para intentar dominar Arelod y Teod con el propósito de someterlos a su emperador y su dios.', CAST(N'2005-08-01' AS Date), N'Elantris.png', 1, 1, NULL)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (2, N'El imperio final (1)', N'Las brumas gobiernan la noche. El lord Legislador domina el mundo.

En otros tiempos, un héroe se alzó para salvar la humanidad. Fracasó.

Desde entonces, el mundo es un erial de ceniza y niebla gobernado por un emperador inmortal conocido como el lord Legislador.

Pero la esperanza perdura. Una nueva revuelta cobra forma cimentándose en la treta definitiva: la astucia de un brillante genio del crimen y la determinación de una heroína insólita, una joven ladrona callejera que deberá aprender a controlar el poder de los nacidos de la bruma.', CAST(N'2006-06-06' AS Date), N'ElImperioFinal.png', 1, 1, 1)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (3, N'El pozo de la ascensión (2)', N'El mal ha sido derrotado. Pero la guerra acaba de empezar.

Lograron lo imposible y pusieron fin al reinado milenario de lord Legislador. Ahora Vin, que ha pasado de ser una ladronzuela a una poderosa nacida de la bruma, y Elend Venture, el joven noble e idealista que la ama, deberán construir una sociedad nueva y próspera sobre las cenizas de ese imperio derrotado.

Mientras las tensiones siguen creciendo tras la revuelta, una antigua leyenda ofrece un atisbo de esperanza para el pueblo. Sin embargo, incluso si las habladurías son ciertas, nadie sabe dónde se encuentra el Pozo de la Ascensión ni qué clase de poder otorga.

Es muy posible que matar al lord Legislador fuera la parte fácil. Sobrevivir a las consecuencias de su caída será el verdadero desafío.', CAST(N'2007-06-05' AS Date), N'ElPozoDeLaAscension.png', 1, 1, 1)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (4, N'El héroe de las eras (3)', N'El apasionante cierre de la Trilogía Mistborn.

Vin cumplió la profecía y liberó el poder acumulado en el Pozo de la Ascensión. Sin embargo, todo resultó ser una trampa, y ahora el ser divino llamado Ruina campa a sus anchas por el mundo decidido a arrasarlo con terremotos y ríos de fuego.

Tras haber esquivado la muerte convirtiéndose en un nacido de la bruma, el emperador Elend Venture confía en que las pistas que dejó el lord Legislador les sirvan para contraatacar. Las profecías hablan de un héroe, pero ¿no estaban corrompidas? Vin deberá desenmarañar la verdad para compensar su error. Solo así llegará a ser el Héroe de las Eras antes de que Ruina aniquile toda la vida sobre el planeta.', CAST(N'2008-06-17' AS Date), N'ElHeroeDeLasEras.png', 1, 1, 1)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (5, N'El camino de los reyes (1)', N'Anhelo los días previos a la Última Desolación.

Los días en que los Heraldos nos abandonaron y los Caballeros Radiantes se giraron en nuestra contra. Un tiempo en que aún había magia en el mundo y honor en el corazón de los hombres.

El mundo fue nuestro, pero lo perdimos. Probablemente no hay nada más estimulante para las almas de los hombres que la victoria.

¿O tal vez fue la victoria una ilusión durante todo ese tiempo? ¿Comprendieron nuestros enemigos que cuanto más duramente luchaban, más resistíamos nosotros? Quizá vieron que el fuego y el martillo tan solo producían mejores espadas. Pero ignoraron el acero durante el tiempo suficiente para oxidarse.

Hay cuatro personas a las que observamos. La primera es el médico, quien dejó de curar para convertirse en soldado durante la guerra más brutal de nuestro tiempo. La segunda es el asesino, un homicida que llora siempre que mata. La tercera es la mentirosa, una joven que viste un manto de erudita sobre un corazón de ladrona. Por último está el alto príncipe, un guerrero que mira al pasado mientras languidece su sed de guerra.

El mundo puede cambiar. La potenciación y el uso de las esquirlas pueden aparecer de nuevo, la magia de los días pasados puede volver a ser nuestra. Esas cuatro personas son la clave.

Una de ellas nos redimirá. Y una de ellas nos destruirá.', CAST(N'2010-08-31' AS Date), N'ElCaminoDeLosReyes.png', 1, 1, 2)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (6, N'Palabras radiantes (2)', N'Los Caballeros Radiantes deben volver a alzarse.

Los antiguos juramentos por fin se han pronunciado. Los hombres buscan lo que se perdió. Temo que la búsqueda los destruya.

Es la naturaleza de la magia. Un alma rota tiene grietas donde puede colarse algo más. Las potencias, los poderes de la creación misma, pueden abrazar un alma rota, pero también pueden ampliar sus fisuras.

El Corredor del Viento está perdido en una tierra quebrada, en equilibro entre la venganza y el honor. La Tejedora de Luz, lentamente consumida por su pasado, busca la mentira en la que debe convertirse. El Forjador de Vínculos, nacido en la sangre y la muerte, se esfuerza ahora por reconstruir lo que fue destruido. La Exploradora, a caballo entre los destinos de dos pueblos, se ve obligada a elegir entre una muerte lenta y una terrible traición a todo en lo que cree.

Ya es hora de despertarlos, pues acecha la eterna tormenta.

Y el asesino ha llegado.', CAST(N'2014-03-04' AS Date), N'PalabrasRadiantes.png', 1, 1, 2)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (7, N'Juramentada (3)', N'La humanidad se enfrenta a una nueva Desolación con el regreso de los Portadores del Vacío, un enemigo tan grande en número como en sed de venganza. La victoria fugaz de los ejércitos alezi de Dalinar Kholin ha tenido consecuencias: el enemigo parshendi ha convocado la violenta tormenta eterna, que arrasa el mundo y hace que los hasta ahora pacíficos parshmenios descubran con horror que llevan un milenio esclavizados por los humanos. Al mismo tiempo, en una desesperada huida para alertar a su familia de la amenaza, Kaladin se pregunta si la repentina ira de los parshmenios está justificada.

Entretanto, en la torre de la ciudad de Urithiru, a salvo de la tormenta, Shallan Davar investiga las maravillas de la antigua fortaleza de los Caballeros Radiantes y desentierra oscuros secretos que acechan en las profundidades. Dalinar descubre entonces que su sagrada misión de unificar su tierra natal de Alezkar era corta de miras. A menos que todas las naciones sean capaces de unirse y dejar de lado el pasado sangriento de Dalinar, ni siquiera la restauración de los Caballeros Radiantes conseguirá impedir el fin de la civilización.', CAST(N'2017-11-14' AS Date), N'Juramentada.png', 1, 1, 2)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (8, N'El ritmo de la guerra (4)', N'Hay secretos que hemos guardado mucho tiempo. Vigilantes. Insomnes. Eternos. Y pronto dejarán de ser nuestros.

La Una que es Tres busca, sin saberlo, el alma capturada. El spren aprisionado, olvidado hace mucho tiempo. ¿Puede liberar su propia alma a tiempo de hallar el conocimiento que condena a todos los pueblos de Roshar?

El Soldado Caído acaricia y ama la lanza, incluso mientras el arma hiende su propia carne. Camina siempre hacia delante, siempre hacia la oscuridad, sin luz. No puede llevar consigo a nadie, salvo aquello que él mismo puede avivar.

La Hermana Derrumbada comprende sus errores y piensa que ella misma es un error. Parece muy alejada de sus antepasados, pero no comprende que son quienes la llevan a hombros. Hacia la victoria, y hacia ese silencio, el más importante de todos.

Y la Madre de Máquinas, la más crucial de todos ellos, danza con mentirosos en un gran baile. Debe desenmascararlos, alcanzar sus verdades ocultas y entregarlas al mundo. Tiene que reconocer que las peores mentiras son las que se cuenta a sí misma.

Si lo hace, nuestros secretos por fin se convertirán en verdades.', CAST(N'2020-11-17' AS Date), N'ElRitmoDeLaGuerra.png', 1, 1, 2)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (9, N'Harry Potter y la piedra filosofal (1)', N'«Con las manos temblorosas, Harry le dio la vuelta al sobre y vio un sello de lacre púrpura con un escudo de armas: un león, un águila, un tejón y una serpiente, que rodeaban una gran letra H.»

Harry Potter nunca ha oído hablar de Hogwarts hasta que empiezan a caer cartas en el felpudo del número 4 de Privet Drive. Llevan la dirección escrita con tinta verde en un sobre de pergamino amarillento con un sello de lacre púrpura, y sus horripilantes tíos se apresuran a confiscarlas. Más tarde, el día que Harry cumple once años, Rubeus Hagrid, un hombre gigantesco cuyos ojos brillan como escarabajos negros, irrumpe con una noticia extraordinaria: Harry Potter es un mago, y le han concedido una plaza en el Colegio Hogwarts de Magia y Hechicería. ¡Está a punto de comenzar una aventura increíble!', CAST(N'1997-06-26' AS Date), N'HarryPotterYLaPiedraFilosofal.png', 2, 5, 3)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (10, N'Harry Potter y la cámara secreta (2)', N'«Hay una conspiración, Harry Potter. Una conspiración para hacer que este año sucedan las cosas más terribles en el Colegio Hogwarts de Magia y Hechicería.»

El verano de Harry Potter ha incluido el peor cumpleaños de su vida, las funestas advertencias de un elfo doméstico llamado Dobby y el rescate de casa de los Dursley protagonizado por su amigo Ron Weasley al volante de un coche mágico volador. De vuelta en el Colegio Hogwarts de Magia y Hechicería, donde va a empezar su segundo curso, Harry oye unos extraños susurros que resuenan por los pasillos vacíos. Y entonces empiezan los ataques y varios alumnos aparecen petrificados... Por lo visto, las siniestras predicciones de Dobby se están cumpliendo....', CAST(N'1998-06-02' AS Date), N'HarryPotterYLaCamaraSecreta.png', 2, 5, 3)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (11, N'Harry Potter y el prisionero de Azkaban (3)', N'«Bienvenido al autobús noctámbulo, transporte de emergencia para el brujo abandonado a su suerte. Levante la varita, suba a bordo y lo llevaremos a donde quiera.»

Cuando el autobús noctámbulo irrumpe en una calle oscura y frena con fuertes chirridos delante de Harry, comienza para él un nuevo curso en Hogwarts, lleno de acontecimientos extraordinarios. Sirius Black, asesino y seguidor de lord Voldemort, se ha fugado, y dicen que va en busca de Harry. En su primera clase de Adivinación, la profesora Trelawney ve un augurio de muerte en las hojas de té de la taza de Harry... Pero quizá lo más aterrador sean los dementores que patrullan por los jardines del colegio, capaces de sorberte el alma con su beso...', CAST(N'1999-07-08' AS Date), N'HarryPotterYElPrisioneroDeAzkaban.png', 2, 5, 3)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (12, N'Harry Potter y el cáliz de fuego (4)', N'«Habrá tres pruebas, espaciadas en el curso escolar, que medirán a los campeones en muchos aspectos diferentes: sus habilidades mágicas, su osadía, sus dotes de deducción y, por supuesto, su capacidad para sortear el peligro.»

Se va a celebrar en Hogwarts el Torneo de los Tres Magos. Sólo los alumnos mayores de diecisiete años pueden participar en esta competición, pero, aun así, Harry sueña con ganarla. En Halloween, cuando el cáliz de fuego elige a los campeones, Harry se lleva una sorpresa al ver que su nombre es uno de los escogidos por el cáliz mágico. Durante el torneo deberá enfrentarse a desafíos mortales, dragones y magos tenebrosos, pero con la ayuda de Ron y Hermione, sus mejores amigos, ¡quizá logre salir con vida!', CAST(N'2001-03-02' AS Date), N'HarryPotterYElCalizDeFuego.png', 2, 5, 3)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (13, N'Harry Potter y la Orden del Fénix (5)', N'«El director cree que no es conveniente que eso continúe ocurriendo. Quiere que te enseñe a cerrar tu mente al Señor Tenebroso.»

Son malos tiempos para Hogwarts. Tras el ataque de los dementores a su primo Dudley, Harry Potter comprende que Voldemort no se detendrá ante nada para encontrarlo. Muchos niegan que el Señor Tenebroso haya regresado, pero Harry no está solo: una orden secreta se reúne en Grimmauld Place para luchar contra las fuerzas oscuras. Harry debe permitir que el profesor Snape le enseñe a protegerse de las brutales incursiones de Voldemort en su mente. Pero éstas son cada vez más potentes, y a Harry se le está agotando el tiempo...', CAST(N'2008-12-04' AS Date), N'HarryPotterYLaOrdenDelFenix.png', 2, 5, 3)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (14, N'IT', N'Un grupo de niños de Derry, Maine, se enfrenta a un monstruo que cambia de forma y se alimenta del miedo de los niños.', CAST(N'1986-09-01' AS Date), N'It.png', 3, 1, NULL)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (15, N'El resplandor', N'Un escritor en apuros y su familia se instalan como guardeses en un hotel aislado, donde se ve afectado por fuerzas paranormales.', CAST(N'1977-01-01' AS Date), N'ElResplandor.png', 3, 1, NULL)
INSERT [dbo].[LIBRO] ([ID_LIBRO], [TITULO], [SINOPSIS], [FECHA_PUBLICACION], [PORTADA], [ID_AUTOR], [ID_CATEGORIA], [ID_SAGA]) VALUES (16, N'Misery', N'Un escritor famoso es secuestrado por una fan obsesiva que lo obliga a escribir una nueva novela.', CAST(N'1987-06-08' AS Date), N'Misery.png', 3, 1, NULL)
GO
INSERT [dbo].[METODO_PAGO] ([ID_METODO_PAGO], [NOMBRE]) VALUES (1, N'Visa')
INSERT [dbo].[METODO_PAGO] ([ID_METODO_PAGO], [NOMBRE]) VALUES (2, N'Visa Electron 4B')
INSERT [dbo].[METODO_PAGO] ([ID_METODO_PAGO], [NOMBRE]) VALUES (3, N'Euro6000')
GO
INSERT [dbo].[OPINION] ([ID_OPINION], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Favorito', N'Libro que ha dejado una impresión profunda y que se considera especialmente valioso.')
INSERT [dbo].[OPINION] ([ID_OPINION], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Leído', N'Libro que se ha completado de leer.')
INSERT [dbo].[OPINION] ([ID_OPINION], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Pendiente', N'Libro que se desea leer en el futuro.')
GO
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ISBN], [PRECIO], [ID_FORMATO], [ID_LIBRO], [ID_EDITORIAL]) VALUES (1, N'978-8466658843', 30, 1, 1, 1)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ISBN], [PRECIO], [ID_FORMATO], [ID_LIBRO], [ID_EDITORIAL]) VALUES (2, N'978-8413146041', 15, 2, 1, 2)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ISBN], [PRECIO], [ID_FORMATO], [ID_LIBRO], [ID_EDITORIAL]) VALUES (3, N'B01DKMR9DA', 5, 3, 1, 1)
GO
INSERT [dbo].[ROL] ([ID_ROL], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Admin                                                                                                                                                                                                                                                          ', N'Administrador con todos los pribilegios.                                                                                                                                                                                                                       ')
INSERT [dbo].[ROL] ([ID_ROL], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Cliente                                                                                                                                                                                                                                                        ', N'Cliente común.                                                                                                                                                                                                                                                 ')
GO
INSERT [dbo].[SAGA] ([ID_SAGA], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Nacidos de la bruma', N'Nacidos de la bruma es una saga de literatura fantástica escrita por el autor estadounidense Brandon Sanderson. Ambientada en un mundo llamado Scadrial, la saga combina elementos de la alta fantasía, la intriga política y la magia única del sistema de alomancia.')
INSERT [dbo].[SAGA] ([ID_SAGA], [NOMBRE], [DESCRIPCION]) VALUES (2, N'El archivo de las tormentas', N'El archivo de las tormentas es una saga de literatura fantástica épica escrita por Brandon Sanderson. La historia se desarrolla en el desolado mundo de Roshar, donde una tormenta sin fin azota la tierra y la sociedad se divide en diferentes naciones que luchan por la supervivencia. La saga sigue a un grupo de personajes conocidos como los Caballeros Radiantes mientras intentan descubrir los secretos del pasado de Roshar y restaurar la paz en el mundo.')
INSERT [dbo].[SAGA] ([ID_SAGA], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Harry Potter', N'Harry Potter es una serie de siete novelas fantásticas escritas por la autora británica J.K. Rowling. La historia gira en torno a Harry Potter, un joven huérfano que descubre que es un mago en su undécimo cumpleaños.')
GO
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD], [IMAGEN], [PASS], [SALT], [TOKEN], [ID_ROL], [ID_ESTADO]) VALUES (1, N'Administrador', N'Admin', N'admin@example.com', N'password123', N'usuario.png', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD], [IMAGEN], [PASS], [SALT], [TOKEN], [ID_ROL], [ID_ESTADO]) VALUES (2, N'Juan', N'Pérez', N'juan.perez@example.com', N'password123', N'usuario.png', NULL, NULL, NULL, 2, 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD], [IMAGEN], [PASS], [SALT], [TOKEN], [ID_ROL], [ID_ESTADO]) VALUES (3, N'María', N'Gómez', N'maria.gomez@example.com', N'password123', N'usuario.png', NULL, NULL, NULL, 2, 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD], [IMAGEN], [PASS], [SALT], [TOKEN], [ID_ROL], [ID_ESTADO]) VALUES (6, N'Mauricio', N'Alm', N'asd@gmail.com', N'asd', N'usuario.png', 0x2A7170FB12BF415FAEDCA311B150E166C0329BCC92BF99A7302E2DCE530054C72E64D8F04CE914747AF3AFEF3A11267EB15A9EEEEBE32555DA68DBB795C217A1, N'"çBäD£¤ÞÉ¸SµH
þÌí%Üg|Þ yM¬£h©ö', N'', 2, 1)
GO
ALTER TABLE [dbo].[GENEROS_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIAS_LIBROS_CATEGORIA] FOREIGN KEY([ID_GENERO])
REFERENCES [dbo].[GENERO] ([ID_GENERO])
GO
ALTER TABLE [dbo].[GENEROS_LIBROS] CHECK CONSTRAINT [FK_CATEGORIAS_LIBROS_CATEGORIA]
GO
ALTER TABLE [dbo].[GENEROS_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIAS_LIBROS_LIBRO] FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID_LIBRO])
GO
ALTER TABLE [dbo].[GENEROS_LIBROS] CHECK CONSTRAINT [FK_CATEGORIAS_LIBROS_LIBRO]
GO
ALTER TABLE [dbo].[INFORMACION_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_METODO_PAGO] FOREIGN KEY([ID_METODO_PAGO])
REFERENCES [dbo].[METODO_PAGO] ([ID_METODO_PAGO])
GO
ALTER TABLE [dbo].[INFORMACION_COMPRA] CHECK CONSTRAINT [FK_PAGO_METODO_PAGO]
GO
ALTER TABLE [dbo].[INFORMACION_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[INFORMACION_COMPRA] CHECK CONSTRAINT [FK_PAGO_USUARIO]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_AUTOR] FOREIGN KEY([ID_AUTOR])
REFERENCES [dbo].[AUTOR] ([ID_AUTOR])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_AUTOR]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_GENEROS] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_GENEROS]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_SAGA] FOREIGN KEY([ID_SAGA])
REFERENCES [dbo].[SAGA] ([ID_SAGA])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_SAGA]
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_OPINIONES_LIBROS_LIBRO] FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID_LIBRO])
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS] CHECK CONSTRAINT [FK_OPINIONES_LIBROS_LIBRO]
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_OPINIONES_LIBROS_OPINION] FOREIGN KEY([ID_OPINION])
REFERENCES [dbo].[OPINION] ([ID_OPINION])
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS] CHECK CONSTRAINT [FK_OPINIONES_LIBROS_OPINION]
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_OPINIONES_LIBROS_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS] CHECK CONSTRAINT [FK_OPINIONES_LIBROS_USUARIO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_LISTAS_USUARIOS_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_LISTAS_USUARIOS_USUARIO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_ESTADO_PEDIDO] FOREIGN KEY([ID_ESTADO_PEDIDO])
REFERENCES [dbo].[ESTADO_PEDIDO] ([ID_ESTADO_PEDIDO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_ESTADO_PEDIDO]
GO
ALTER TABLE [dbo].[PEDIDOS_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_PRODUCTOS_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[PEDIDOS_PRODUCTOS] CHECK CONSTRAINT [FK_PEDIDOS_PRODUCTOS_PEDIDO]
GO
ALTER TABLE [dbo].[PEDIDOS_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_PRODUCTOS_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PEDIDOS_PRODUCTOS] CHECK CONSTRAINT [FK_PEDIDOS_PRODUCTOS_PRODUCTO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_EDITORIAL] FOREIGN KEY([ID_EDITORIAL])
REFERENCES [dbo].[EDITORIAL] ([ID_EDITORIAL])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_EDITORIAL]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_FORMATO1] FOREIGN KEY([ID_FORMATO])
REFERENCES [dbo].[FORMATO] ([ID_FORMATO])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_FORMATO1]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_LIBRO1] FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID_LIBRO])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_LIBRO1]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ESTADO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
ALTER TABLE [dbo].[VALORACION]  WITH CHECK ADD  CONSTRAINT [FK_VALORACION_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[VALORACION] CHECK CONSTRAINT [FK_VALORACION_USUARIO]
GO
ALTER TABLE [dbo].[VALORACIONES_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_VALORACIONES_PRODUCTOS_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[VALORACIONES_PRODUCTOS] CHECK CONSTRAINT [FK_VALORACIONES_PRODUCTOS_PRODUCTO]
GO
ALTER TABLE [dbo].[VALORACIONES_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_VALORACIONES_PRODUCTOS_VALORACION] FOREIGN KEY([ID_VALORACION])
REFERENCES [dbo].[VALORACION] ([ID_VALORACION])
GO
ALTER TABLE [dbo].[VALORACIONES_PRODUCTOS] CHECK CONSTRAINT [FK_VALORACIONES_PRODUCTOS_VALORACION]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PEDIDOS_PRODUCTOS]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_INSERT_PEDIDOS_PRODUCTOS]
(@unidades int, @idpedido int, @idproducto int)
as
	declare @maxid int
	select @maxid=MAX(ID_PEDIDO_PRODUCTO) from PEDIDOS_PRODUCTOS

	insert into PEDIDOS_PRODUCTOS values
	(@maxid, @unidades, @idpedido, @idproducto)

	select ID_PEDIDO_PRODUCTO, UNIDADES, ID_PEDIDO, ID_PRODUCTO 
	from PEDIDOS_PRODUCTOS
	where ID_PEDIDO_PRODUCTO=@maxid
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTO_SIMPLE_PAGINACION]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PRODUCTO_SIMPLE_PAGINACION]
(@posicion int, @ndatos int, @npaginas int out)
as
	select @npaginas=CEILING(COUNT(REPETICION)/CAST(@ndatos AS FLOAT)) from
	(select ROW_NUMBER() OVER(PARTITION BY TITULO ORDER BY ID_PRODUCTO) AS REPETICION
	from V_PRODUCTO_SIMPLE) AGRUPADOS
	where REPETICION=1
	select ID_PRODUCTO, TITULO, PORTADA, AUTOR, PRECIO, ID_FORMATO, UNIDADES from
		(select 
			ID_PRODUCTO, TITULO, PORTADA, AUTOR, PRECIO, ID_FORMATO, UNIDADES,
            ROW_NUMBER() over (order by ID_PRODUCTO) POSICION
		from
			(select
			ID_PRODUCTO, TITULO, PORTADA, AUTOR, PRECIO, ID_FORMATO, UNIDADES,
            ROW_NUMBER() OVER(PARTITION BY TITULO ORDER BY ID_PRODUCTO) AS REPETICION
			from V_PRODUCTO_SIMPLE) QUERY
		where REPETICION=1) PRIMEROS
	where  POSICION>=@ndatos*@posicion-(@ndatos-1) and POSICION<=@posicion*@ndatos
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTOS]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_PRODUCTOS]
as
SELECT ID_PRODUCTO, TITULO, PORTADA, AUTOR, PRECIO, ID_FORMATO, UNIDADES
FROM (
	SELECT ID_PRODUCTO, TITULO, PORTADA, AUTOR, PRECIO, ID_FORMATO, UNIDADES,
           ROW_NUMBER() OVER(PARTITION BY TITULO ORDER BY ID_PRODUCTO) AS REPETICION
    FROM V_PRODUCTO_SIMPLE) PRODUCTOS
WHERE REPETICION = 1
and TITULO is not null
and AUTOR is not null
order by ID_PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_PRODUCTOS]    Script Date: 15/03/2024 1:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_SEARCH_PRODUCTOS]
(@busqueda nvarchar(255))
as
SELECT ID_PRODUCTO, TITULO, PORTADA, AUTOR, PRECIO, ID_FORMATO, UNIDADES
FROM (
	SELECT ID_PRODUCTO, TITULO, PORTADA, AUTOR, PRECIO, ID_FORMATO, UNIDADES,
           ROW_NUMBER() OVER(PARTITION BY TITULO ORDER BY ID_PRODUCTO) AS REPETICION
    FROM V_PRODUCTO_SIMPLE) PRODUCTOS
WHERE REPETICION = 1
and TITULO is not null
and AUTOR is not null
and dbo.LIMPIAR(TITULO) like @busqueda
or dbo.LIMPIAR(AUTOR) like @busqueda
and REPETICION = 1
order by ID_PRODUCTO
GO
USE [master]
GO
